<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="../img/aku.jpg" alt="Fotoku" class="img-thumbnail rounded-circle" width="100">
            <h1 class="display-4">Restu Alam</h1>
            <p class="lead">Mahasiswa</p>
        </div>
    </div>
</div>
